
<html><head>

<link rel="stylesheet"  type ="text/css" href="input1.css">
</head>
<body >
<div class="container">
<h2>Fire Text With Photo..</h2>

<form action="firetext.php" method="POST" enctype="multipart/form-data">
<div class="input-field">
<input type="text" name="name" placeholder="" required><label> Please Enter Name</label>
<input type="file" name="img" placeholder="" required>


<span></span></div>
<input type="submit" value="Show Result" class="btn">

</form>
</div>
</body>
</html>

